<div class="find-your-size">
    <h2 class="bold kaffeesatz">Find Your Size</h2>
    <div class="get-foot-length">
        <select name="foot-length" class="kaffeesatz">
            <option value="null">Foot Length</option>
            <!-- boot_sizes is an array define in function.php -->
            <option value="4/5">8 15/16</option>
            <option value="4/5">9</option>
            <option value="4/5">9 1/16</option>
            <option value="4.5/5.5">9 1/8</option>
            <option value="4.5/5.5">9 3/16</option>
            <option value="4.5/5.5">9 1/4</option>
            <option value="5/6">9 5/16</option>
            <option value="5/6">9 3/8</option>
            <option value="5/6">9 7/16</option>
            <option value="5.5/6.5">9 1/2</option>
            <option value="5.5/6.5">9 9/16</option>
            <option value="6/7">9 5/8</option>
            <option value="6/7">9 11/16</option>
            <option value="6/7">9 3/4</option>
            <option value="6.5/7.5">9 13/16</option>
            <option value="6.5/7.5">9 7/8</option>
            <option value="6.5/7.5">9 15/16</option>
            <option value="7/8">10</option>
            <option value="7/8">10 1/16</option>
            <option value="7/8">10 1/8</option>
            <option value="7.5/8.5">10 3/16</option>
            <option value="7.5/8.5">10 1/4</option>
            <option value="8/9">10 5/16</option>
            <option value="8/9">10 3/8</option>
            <option value="8.5/9.5">10 7/16</option>
            <option value="8.5/9.5">10 1/2</option>
            <option value="8.5/9.5">10 9/16</option>
            <option value="8.5/9.5">10 5/8</option>
            <option value="9/10">10 11/16</option>
            <option value="9/10">10 3/4</option>
            <option value="9/10">10 13/16</option>
            <option value="9.5/10.5">10 7/8</option>
            <option value="9.5/10.5">10 15/16</option>
            <option value="10/11">11</option>
            <option value="10/1">11 1/16</option>
            <option value="10/11">11 1/8</option>
            <option value="10.5/11.5">11 3/16</option>
            <option value="10.5/11.5">11 1/4</option>
            <option value="11/12">11 5/16</option>
            <option value="11/12">11 3/8</option>
            <option value="11/12">11 7/16</option>
            <option value="11.5/12.5">11 1/2</option>
            <option value="11.5/12.5">11 9/16</option>
            <option value="12/13">11 5/8</option>
            <option value="12/13">11 11/16</option>
            <option value="12/13">11 3/4</option>
            <option value="12.5/13">11 13/16</option>
            <option value="12.5/13.5">11 7/8</option>
            <option value="12.5/14">11 15/16</option>
            <option value="13/14">12</option>
            <option value="13/14">12 1/16</option>
            <option value="13/14">12 1/8</option>
            <option value="13.5/14.5">12 3/16</option>
            <option value="13.5/14.5">12 1/4</option>
            <option value="14/15">12 5/16</option>
            <option value="14/15">12 3/8</option>
            <option value="14.5/15.5">12 7/16</option>
            <option value="14.5/15.5">12 1/2</option>
            <option value="14.5/15.5">12 9/16</option>
            <option value="14.5/15.5">12 5/8</option>
            <option value="15/16">12 11/16</option>
            <option value="15/16">12 3/4</option>
            <option value="15/16">12 13/16</option>
            <option value="15.5/16.5">12 7/8</option>
            <option value="15.5/16.5">12 15/16</option>
            <option value="15.5/16.5">13</option>
            <option value="16/17">13 1/16</option>
            <option value="16/17">13 1/8</option>
            <option value="16/17">13 3/16</option>
            <option value="16.5/17.5">13 1/4</option>
            <option value="16.5/17.5">13 5/16</option>
            <option value="17/18">13 3/8</option>
            <option value="17/18">13 7/16</option>
    </select>
    <a href="javascript:void(0)" class="btn btn-get-boot-size">Get Boot Size <span class="button-arrow"></span></a>
    </div>
    <p class="special-message hidden">Your measurements fall outside of our stock sizing. We recommend having a fitting to get the most accurate size.</p>
    <p class="men recommended-boot-size hidden"><span>Recommended Men's Boot Size: </span><span class="size-output"></span></p>
    <p class="women recommended-boot-size hidden"><span>Recommended Women's Boot Size: </span><span class="size-output"></span></p>
    <p>Enter your foot length measurement to determine your correct boot size. If you do not have measurements, need help getting measurements, or need more information on custom fitting and sizing, see details below.</p>
</div>