{{ 'slick.css' | asset_url | stylesheet_tag }}
{% assign images =  article.metafields.custom.image_gallery.value %}

{% capture if_slider %}
{% include 'shortcode-render' render:'slider' default:'' %}
{% endcapture %}


<div class="image-gallery{% if if_slider %} with-slider{% endif %}">
{% for image in images %}
    <div class="block-image">
        <img src="{{ image | img_url: '500x' }}" alt="image" />
    </div>
{%  endfor%}
</div>


<script src="{{ 'slick.js' | asset_url }}" defer="defer"></script>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var containerID = ".image-gallery.with-slider";
        var slickContainer = document.querySelector(containerID);
        var slickObject = new Slick(slickContainer, {
            slidesToScroll: 1,
            slidesToShow: 3,
            arrows: true,
            dots: false,
            mobileFirst: true,
            infinite: false,
            prevArrow: '<button class="slick-prev" aria-label="Previous" type="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" style="transition: fill 0.3s ease 0s, stroke 0.3s ease 0s, background 0.3s ease 0s, transform 0.5s ease 0s;"><path fill="none" d="M0 0h24v24H0z"></path><path class="arrow" d="M10.828 12l4.95 4.95-1.414 1.414L8 12l6.364-6.364 1.414 1.414z" style="transition: fill 0.3s ease 0s, stroke 0.3s ease 0s, background 0.3s ease 0s, transform 0.5s ease 0s;"></path></svg></button>',
            nextArrow: '<button class="slick-next" aria-label="Next" type="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" style="transition: fill 0.3s ease 0s, stroke 0.3s ease 0s, background 0.3s ease 0s, transform 0.5s ease 0s;"><path fill="none" d="M0 0h24v24H0z"></path><path class="arrow" d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z" style="transition: fill 0.3s ease 0s, stroke 0.3s ease 0s, background 0.3s ease 0s, transform 0.5s ease 0s;"></path></svg></button>',
            responsive: [
                {
                  breakpoint: 600,
                  settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2
                  }
                },
                {
                  breakpoint: 480,
                  settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                  }
                }
            ]
        });
    })
</script>